@using AirportSystem.Common
@{
    //if (User.IsInRole("Admin"))
    //{
    //    this.Layout = "_ViewStart";
    //}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="background-color: transparent" ;>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="column">

                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Users Profile
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Passengers" asp-action="Add"><b>Create your travel proffile</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Passports" asp-action="Edit"><b>Fill passport details</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Passengers" asp-action="PassengerInfo"><b>Your travel profill</b></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Flights
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Search"><b>Search for flights</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="All2"><b>All flights for users</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Search"><b>Search for Flight</b></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Luggage
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Search"><b>Search for luggage</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Create"><b>Create your luggage</b></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                            }
                            else if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Create
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="Create"><b>Create Avio Company</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="Create"><b>Create new Airport</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Create"><b>Create new flight</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="Create"><b>Create new plane</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Create"><b>Create your luggage</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Seats" asp-action="Create"><b>Create seats</b></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Reference
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="All"><b>All flights</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="All"><b>All countries</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="All"><b>All cities</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="All"><b>All planes</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="All"><b>All airports</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="All"><b>All avio companies</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="GetFlightById"><b>GetFlightById</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Search"><b>Search for Flight</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Search"><b>Search for luggage</b></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Add
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Add"><b>Add new city</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Add"><b>Add country</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="TravelLines" asp-action="Create"><b>Add new travel line</b></a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="AddPlane"><b>Add plane to avio copm</b></a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)

</body>
</html>
