@inject AirportSystem.Services.Data.Flights.IFlightService service

@{
    this.ViewData["Title"] = "All flights";
}


<h1>All flights</h1>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Flights</h2>
                </div>

                <div class="component">
                    <table class="table table-hover" id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">Flight Id</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Departure Time</th>
                                <th scope="col">Arrival Time</th>
                                <th scope="col">Flight Duration</th>
                                <th scope="col">Flight Status</th>
                                <th scope="col">Plane Id</th>
                                <th scope="col">Plane Name</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var fligts = this.service.GetAll();
                            }
                            @foreach (var item in fligts)
                            {
                                <tr class="table-light">
                                    <th scope="row">@item.Id</th>
                                    <th scope="row">@item.TravelLine.CityName</th>
                                    <th scope="row">@item.TravelLine.CityName2</th>
                                    <td>@item.DepartureTime</td>
                                    <td>@item.ArrivalTime</td>
                                    <td>@item.FlightDuration</td>
                                    <td>@item.FlightStatus</td>
                                    <td>@item.PlaneId</td>
                                    <td>@item.PlaneName</td>
                                    <td>@item.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Table.css" rel="stylesheet" />

@section Scripts
                    {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });</script>
}
