
@inject AirportSystem.Services.Data.Flights.IFlightService service
@using AirportSystem.Data.Tickets


@{
    var flights = this.service.GetAll();
}

<h2 style="color:black;"><b>All Flights</b></h2>
<div class="table-wrapper" id="Grid">

    <table class="fl-table" id="dataTable">
        <thead>
            <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Derparture Time</th>
                <th>Arrival Time</th>
                <th>Flight Duration</th>
                <th>Flight Status</th>
                <th>Price</th>
                @*<th>Free seats left</th>*@
                <th>Book</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in flights)
            {
                @*@if (item.FreeSeats == 0)
                {
                    continue;
                }*@
                
                <tr>
                    <td>@item.TravelLineCityName</td>
                    <td>@item.TravelLineCity2Name</td>
                    <td>@item.DepartureTime</td>
                    <td>@item.ArrivalTime</td>
                    <td>@item.FlightDuration</td>
                    <td>@item.FlightStatus</td>
                    <td>@item.Price</td>
                    @*<td>@item.FreeSeats</td>*@
                    <td>
                        @* @Html.ActionLink("Book Ticket", "BookFlight", "Tickets", new { id = item.Id }, new { @class = "btn btn-warning", @role = "button" })*@
                        <a asp-controller="Tickets" asp-action="BookFlight" asp-route-id="@item.Id" class="btn btn-warning black-color" role="button">Book Ticket</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

@section Scripts
                    {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });</script>
}


