@model AirportSystem.Web.ViewModels.PassengerInfoViewModel


<h1>Your travel profil info</h1>

<div class="page-header text-center">
    <h2 id="tables">Profil info</h2>
</div>

<div class="component">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Travel number</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Passport number</th>
                <th scope="col">Luggage number</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light">

                <td>@Model.PassengerId</td>
                <td>@Model.FirstName</td>
                <td>@Model.MiddleName</td>
                <td>@Model.LastName</td>
                <td>@Model.Age</td>
                <td>@Model.Phone</td>
                <td>@Model.Address</td>
                <td>@Model.PassportId</td>
                @if (Model.LuggageId != 0)
                {
                    <td>@Model.LuggageId</td>
                    <td><a asp-action="Edit" asp-controller="Luggages" asp-route-id="@Model.LuggageId" class="btn btn-warning" role="button">Edit luggage</a></td>
                }

            </tr>
        </tbody>
    </table>
</div>